body{
    background-color: #a9a9a9;
}

h1{
    text-align: center;
    margin-top: 30px;
    font-family: abyssinica SIL;
}
.elsokep{
    width: 350px;
}

h2{
    font-family: abyssinica SIL;
}

.iskolai{
    margin-top: 235px;
}
.prof{
    width: 25%;
}

.amer{
    padding-top: 25px;
}

.elet{
    padding-top: 150px;
}

.le{
    padding-top: 320px;
}

.ossze{
    background-color: #999999;
    padding-top: 40px;
    margin-top: 150px;
    margin-bottom: 0px;
    bottom:0;
    right:0;
    left:0;
    height:16vh;
    text-align: center;
}

.nev{
    color: azure;
}

.tablazat{
    margin-top: 25px;
}

.kozep{
    text-align: left;
}

.szamitogep{
    float: right;
}

.numerikus{
    padding-top: 350px;
}

.osszele{
    background-color: #999999;
    padding-top: 50px;
    margin-top: 380px;
    margin-bottom: 0px;
    bottom:0;
    right:0;
    left:0;
    height:16vh;
    text-align: center;
}